<section
        class="mb-10"
>
    <h3 class="text-xl font-semibold text-warm-brown mb-4 font-serif">Ingredients</h3>
    <ul class="bg-soft-pink/20 rounded-lg p-6 space-y-2 border border-soft-pink" data-ingredients>
        {% for row in ingredientList %}
            {% apply spaceless %}
                <li class="items-baseline flex {% if row.optional %}text-gray-600{% endif %}" data-ingredient data-behavior="walmartIntegration">
                    <label class="flex items-start cursor-pointer">
                        <input data-ingredient-checkbox type="checkbox" class="mt-1 mr-3 h-5 w-5 accent-deep-rose">
                        <span>
                            {% set quantity = (row.quantity) ? row.quantity : 0 %}
                            {% set result = quantity|niceFractions(scale, row.unit) %}

                            {% if result is iterable %}
                                <span class="font-medium" data-ingredient-quanity>{{ result.value }}&nbsp;</span>
                                <span data-ingredient-unit>{{ result.unit }}&nbsp;</span>
                            {% else %}
                                <span class="font-medium" data-ingredient-quanity>{{ result }}&nbsp;</span>
                                {% if row.unit != 'none' %}
                                    <span data-ingredient-unit>{{ row.unit }}&nbsp;</span>
                                {% else %}
                                    <span></span>
                                {% endif %}
                            {% endif %}

                            <span data-ingredient-name="{{ row.ingredientName }}">{{ row.ingredientName }}</span>

                            {% if row.notes is not empty %}
                                <span data-ingredient-note>, {{ row.notes }}</span>
                            {% endif %}

                            {% if row.optional %}
                                <span data-ingredient-optional class="italic text-sm ml-2">(optional)</span>
                            {% endif %}
                            <svg data-cart-icon xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 inline-block text-slate-300 hover:text-slate-500 ml-2 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                        </span>
                    </label>
                </li>
            {% endapply %}
        {% endfor %}
    </ul>
</section>